
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Environnements (ne pas committer les credentials) mais gardé un exemple versionné
!env/.env.local
!env/.env.recette
!env/.env.prod
# Conserver un exemple versionné
!env/.env.example


.features-gen/
allure-results/
allure-report/
cucumber-report/
